<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
style {
    display: none !important;
}
._customer__main {
    font-family: Roboto, Arial, sans-serif;
    max-width: 887px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}
._customer__main_ttl {
    font-weight: 700;
    color: #000000;
    font-size: 22px;
}
._customer__main_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none !important;
    margin-top: 25px;
    margin-bottom: 0;
    color: #666666;
    padding: 0!important;
    margin-left: 0!important;
}
._customer__main_desc {
    color: #000000;
    margin-top: 25px;
}
._customer__main li {
    width: calc(50% - 30px);
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 10px;
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
._customer__main_btn {
    font-family: Arial, sans-serif;
    width: 171px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    background: #f77b40;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 40px;
}
._customer__main_btn a {
    display: block;
    color : #ffffff;
    text-decoration: none;
}
._customer__main_btn:hover {
    opacity: 0.8;
}
@media (max-width: 768px) {
    ._customer__main li {
        width: calc(100% - 30px);
    }
    ._customer__main_btn {
        margin: 0 auto;
    }
}
</style>
<section class="_customer__main">
    <div class="_customer__main_ttl">Собственное производство</div>

    <div class="_customer__main_desc">Изготавливаем изделия любой сложности из листового металла. Предлагаем типовую продукцию или работаем по вашим чертежам.</div>

    <ul class="_customer__main_list">
        <li style="background-image: url(img/block_main/icon_main-1.png);">
            <div>Обработка и защита поверхности с помощью пескоструйной обработки, шлифовки, полимерного порошкового напыления.</div>
        </li>
        <li style="background-image: url(img/block_main/icon_main-2.png);">
            <div>Сборочные операции с применением различных видов сварки (точечная, дуговая, в среде защитных газов) и клёпки.</div>
        </li>
        <li style="background-image: url(img/block_main/icon_main-3.png);">
            <div>Формирование контура плоскости изделия методом рубки, сверления, пробивки.</div>
        </li>
        <li style="background-image: url(img/block_main/icon_main-4.png);">
            <div>Маркировка и упаковка продукции. Доставка заказчику.</div>
        </li>
        <li style="background-image: url(img/block_main/icon_main-5.png);">
            <div>Изготовление объёмных деталей посредством гибки, вальцовки, точечной сварки.</div>
        </li>
    </ul>

    <div class="_customer__main_btn"><a href="/catalog">Подробнее</a></div>
</section>
