<meta charset="UTF-8">
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
    /* Advantages */
    style {
        display: none !important;
    }
    ._customer__adv {
        font-family: Roboto, Arial, sans-serif;
        max-width: 887px;
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
    }
    ._customer__adv_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 30px;
        color: #666666;
    }
    ._customer__adv_top-item {
        width: calc(50% - 30px);
        box-sizing: border-box;
        padding-top: 5px;
        padding-left: 50px;
        padding-bottom: 10px;
        background-position: left top;
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    ._customer__adv_top-item-1 {
        background-image: url("img/block_advantages/icon-adv-1.png");
    }
    ._customer__adv_top-item-2 {
        background-image: url("img/block_advantages/icon-adv-2.png");
    }
    ._customer__adv_top-item-3 {
        background-image: url("img/block_advantages/icon-adv-3.png");
    }
    ._customer__adv_top-item-4 {
        background-image: url("img/block_advantages/icon-adv-4.png");
    }
    ._customer__adv_item {
        width: calc(25% - 30px);
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    ._customer__adv_img {
        text-align: center;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        ._customer__adv_top-item {
            width: calc(100% - 30px);
        }
        ._customer__adv_item {
            width: calc(50% - 30px);
        }
    }
    /* Advantages end */
</style>

<section class="_customer__adv">
    <div class="_customer__adv_list">
        <div class="_customer__adv_top-item _customer__adv_top-item-1">
            <div>Производство элитной кровельной системы ArFei — металлочерепица и доборные элементы
                собственной формы.
            </div>
        </div>
        <div class="_customer__adv_top-item _customer__adv_top-item-2">
            <div>Сборочные операции с применением различных видов сварки (точечная, дуговая, в среде защитных газов)
                и клёпки.
            </div>
        </div>
        <div class="_customer__adv_top-item _customer__adv_top-item-3">
            <div>Лучшее европейское оборудование по сгибанию и изготовлению оцинкованных металлоизделий.</div>
        </div>
        <div class="_customer__adv_top-item _customer__adv_top-item-4">
            <div>Весь ассортимент продукции в наличии на складах.</div>
        </div>
    </div>
    <div class="_customer__adv_list">
        <div class="_customer__adv_item">
            <div class="_customer__adv_img">
                <img src="img/block_advantages/img-1.png" alt="">
            </div>
            <div>Мы экономим вам финансы</div>
        </div>
        <div class="_customer__adv_item">
            <div class="_customer__adv_img">
                <img src="img/block_advantages/img-2.png" alt="">
            </div>
            <div>Мы экономим ваше время</div>
        </div>
        <div class="_customer__adv_item">
            <div class="_customer__adv_img">
                <img src="img/block_advantages/img-3.png" alt="">
            </div>
            <div>Мы обеспечиваем ваше спокойствие</div>
        </div>
        <div class="_customer__adv_item">
            <div class="_customer__adv_img">
                <img src="img/block_advantages/img-4.png" alt="">
            </div>
            <div>С нами удобно работать</div>
        </div>
    </div>
</section>